body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1 {
    color: #333;
    margin: 40px;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

.hide {
    display: none !important;
}

/* message *******************************************************************/
#message {
    position: fixed;
    left: 50%;
    transform: translateX(calc(-50% - 30px));
    margin: 30px;
    background-color: black;
    color: white;
    padding: 13px;
    border: none;
    border-radius: 4px;
    opacity: 1;
    font-size: 14px;
    line-height: 16px;
    z-index: 100;
    text-align: center;
}

.visible {
    visibility: visible;
}

/* game board ****************************************************************/
#board {
    width: calc(24px + 4 * 22.5vw);
    height: calc(24px + 4 * 22.5vw);
    margin: auto;
}

.button-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    position: relative;
}

.button-grid, .button-grid * {
    gap: 8px;
}

.flex-grid * {
    width: calc(24px + 4 * 22vw);
    margin: auto;
}

.item-row-0 {top: 0;}
.item-row-1 {top: calc(8px + 22.5vw);}
.item-row-2 {top: calc(16px + 2 * 22.5vw);}
.item-row-3 {top: calc(24px + 3 * 22.5vw);}

.item-col-0 {left: 0;}
.item-col-1 {left: calc(8px + 22.5vw);}
.item-col-2 {left: calc(16px + 2 * 22.5vw);}
.item-col-3 {left: calc(24px + 3 * 22.5vw);}

.word_button {
    padding: 10px;
    background-color: #efefe6;
    color: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 22.5vw;
    max-width: 22.5vw;
    min-width: 20px;
    min-height: 70px;
    height: 22.5vw;
    max-height: 22.5vw;

    font-size: 15px;
    text-align: center;
    font-weight: bold;

    position: absolute;
    z-index: 0;
    transition: opacity 0.4s ease;
}

.answer-banner {
    width: 100%;
    z-index: 5;
    font-size: 16px;
    color: black;
    position: absolute;
    margin: auto;
    min-height: 70px;
    height: 22.5vw;
    max-height: 22.5vw;
    text-align: center;
    gap: 2px;
    left: 0;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.answer-banner>p>span.category {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    #board {
        width: calc(24px + 4 * 150px);
        height: calc(24px + 4 * 80px);
    }

    .button-grid, .button-grid * {
        gap: unset;
    }

    .button-grid * {
        width: 100%;
    }

    .word_button {
        z-index: 2;
        margin: auto;
        font-size: 20px;
        max-width: 200px;
        min-height: 70px;
        height: 80px;
        width: 150px;
    }

    .answer-banner {
        width: calc(24px + 4 * 150px);
        font-size: 20px;
        height: 80px;
        left: unset;
        gap: unset;
    }

    .item-row-1 {top: calc(8px + 80px);}
    .item-row-2 {top: calc(16px + 2 * 80px);}
    .item-row-3 {top: calc(24px + 3 * 80px);}

    .item-col-1 {left: calc(8px + 150px);}
    .item-col-2 {left: calc(16px + 2 * 150px);}
    .item-col-3 {left: calc(24px + 3 * 150px);}
}

.selected {
	background-color: #5a594e;
	color: white;
}

.group-0 {
	background-color: #f9df6d;
    color: black;
}

.group-1 {
	background-color: #a0c35a;
    color: black;
}

.group-2 {
	background-color: #b0c4ef;
    color: black;
}

.group-3 {
	background-color: #ba81c5;
    color: black;
}

/* attempts remaining ********************************************************/
#attempts-remaining-text {
    margin-top: 24px;
    display: inline-flex;
    justify-content: center;
}

#attempts-remaining-bubbles {
    display: flex;
    justify-content: space-evenly;
    width: 118px;
    align-items: center;
}

.bubble {
    opacity: 100;
    background-color: #5a594e;
    width: 16px;
    height: 16px;
    border-radius: 9999px;
}

.bubble.lost {
    opacity: 0;
}

/* game buttons **************************************************************/
button {
    cursor: pointer;
}

#tool-buttons, #results-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 24px 0;
}

#shuffle-button, #deselect-all-button, #results-button {
    background-color: white;
    color: black;
}

#submit-button {
    background-color: black;
    color: white;
    border: unset;
}

#shuffle-button, #deselect-all-button, #results-button, #submit-button {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    width: fit-content;
    min-width: 5.5em;
    height: 3em;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px 8px;
    max-width: 80vw;
    border-radius: 32px;
    line-height: 1.5em;
    cursor: pointer;
    border: black solid 1px;
}

/* overlay *******************************************************************/
.modal.obscure-behind {
    background-color: rgba(255, 255, 255, 0.8);
}

.modal {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    height: unset;
    z-index: 8;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}


#congrats-modal .modal-content {
    height: 100%;
    justify-content: space-between;
    overflow: scroll;
}

@media screen and (min-width: 520px) {
    .modal {
        flex-direction: column;
        align-items: center;
    }

    #congrats-modal .modal-content {
        overflow-y: auto;
        height: auto;
        max-height: 95%;
    }
}

@media screen and (min-width: 768px) and (min-height: 600px) {
    .modal {
        flex-direction: column;
        align-items: center;
    }
}

.modal .modal-content {
    -webkit-box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.3);

    position: relative;
    border-radius: 10px;
    background-color: white;

    text-align: center;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    width: 100%;
    max-width: 520px;
    padding: 32px;
    animation: slideIn 200ms;
}

.modal-content h2 {
    font-size: 30px;
    margin-block-start: 0.5em;
    margin-block-end: 0;
    font-weight: unset;
    font-style: unset;
}

.close-x {
    color: black;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
}

.congrats-contents {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#congrats-title {
    font-size: 36px;
    margin: 8px 0 8px 0;
}

#emoji-recap {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nyt-emoji-row {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.nyt-emoji {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin: 2px 0;
}

/* animations ****************************************************************/
.horizontal-shake-animation {
    animation: horizontal-shaking 0.5s ease-in-out;
}

.vertical-shake-animation {
    animation: vertical-shaking 0.5s ease-in-out;
}

.tilt-shake-animation {
    animation: tilt-shaking 0.5s ease-in-out;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(10px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(10px) }
    100% { transform: translateX(0) }
}

@keyframes vertical-shaking {
    0% { transform: translateY(0) }
    25% { transform: translateY(5px) }
    50% { transform: translateY(-5px) }
    75% { transform: translateY(5px) }
    100% { transform: translateY(0) }
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg) }
    25% { transform: rotate(5deg) }
    50% { transform: rotate(0deg) }
    75% { transform: rotate(-5deg) }
    100% { transform: rotate(0deg) }
}
